h1 {
	font-family: $secondary-font;
	font-size: 2.5rem;
  color: $gray;
}

h2 {
	font-family: $secondary-font;
	font-size: 2.2rem;
  color: $gray;
}

h3 {
	font-family: $secondary-font;
	font-size: 2rem;
  color: $gray;
}

h4 {
	font-family: $secondary-font;
	font-size: 1.75rem;
  color: $gray;
}

h5 {
	font-family: $secondary-font;
	font-size: 1.5rem;
  color: $gray;
}

h6 {
	font-family: $secondary-font;
	font-size: 1.2rem;
  color: $gray;
}

p {
	font-size: 1.1rem;
  color: $gray;
}

.nav_list {
	font-size: 1.25rem;
}
